  
  /*intex.php*/

.navbar-logo{

height: 40px;
width: 40px;
left: 0px;
top: 0px;
border-radius: 0px;

}


/*.bg-nav{background: #FDFF8E;}*/


.slide-img{ height: 400px; 
	object-fit: cover;
    

  }

.card-title{ font-weight: bolder;}

.bd-placeholder-img{ object-fit: cover;

}  


.ok{  font-weight: bolder;  } 


.timeline {

  list-style: none;
}

  
  .featurette-heading{

  	font-weight: bolder;
  }


.section-heading{ font-weight: bolder;} 


/*desi tadka button*/
.cta {
 position: relative;
 margin: auto;
 padding: 12px 18px;
 transition: all 0.2s ease;
 border: none;
 background: none;
}

.cta:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 border-radius: 50px;
 background: #b1dae7;
 width: 45px;
 height: 45px;
 transition: all 0.3s ease;
}

.cta span {
 position: relative;
 font-family: "Ubuntu", sans-serif;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: 0.05em;
 color: #234567;
}

.cta svg {
 position: relative;
 top: 0;
 margin-left: 10px;
 fill: none;
 stroke-linecap: round;
 stroke-linejoin: round;
 stroke: #234567;
 stroke-width: 2;
 transform: translateX(-5px);
 transition: all 0.3s ease;
}

.cta:hover:before {
 width: 100%;
 background: #b1dae7;
}

.cta:hover svg {
 transform: translateX(0);
}

.cta:active {
 transform: scale(0.95);
}
/*desi tadka button*/


/*our product button*/

.button {
 --color: #00A97F;
 padding: 0.8em 1.7em;
 background-color: transparent;
 border-radius: .3em;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 transition: .5s;
 font-weight: 400;
 font-size: 17px;
 border: 1px solid;
 font-family: inherit;
 text-transform: uppercase;
 color: var(--color);
 z-index: 1;
}

.button::before, .button::after {
 content: '';
 display: block;
 width: 50px;
 height: 50px;
 transform: translate(-50%, -50%);
 position: absolute;
 border-radius: 50%;
 z-index: -1;
 background-color: var(--color);
 transition: 1s ease;
}

.button::before {
 top: -1em;
 left: -1em;
}

.button::after {
 left: calc(100% + 1em);
 top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
 height: 410px;
 width: 410px;
}

.button:hover {
 color: white;
}

.button:active {
 filter: brightness(.8);
}


/*our product button*/









 /*intex.php*/




/* contact.php*/
/*.form-gradient{ background-image: url(https://images.hdqwalls.com/download/mountain-cave-5k-3l-1366x768.jpg); } */
/* contact.php*/

body{

	overflow-x: hidden;

}